html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;

}

textarea {
  min-height: 250px;
  margin-bottom: 10px;
}

.btn-primary, .btn-light{
  background-color: white;
  border-color: #e7e9ec;
  border-width:thin;
  font-size: 10pt;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-primary:hover, .btn-light:hover{
  background-color: white;  
  color: black;
  border-color: rgb(179, 81, 154);
}

.container-fluid{
  margin: 0px;
  padding: 0px;   
}

#header{
  background-color: rgb(55, 28, 61);
  height: 70px;
  padding: 10px;
  color:white;
  /* Nav + Email list + Email View */
  min-width: calc(150px + 520px + 350px);
}

#container-flexbox{
  display: flex;
  align-items: stretch;
  height: calc(100vh - 70px);
}

#navbar{
  display: flex;
  flex-direction: column;
  min-width: 150px;
  background-color: rgb(55, 28, 61);
  color:white;
}

.nav-active{
    background-color: rgb(94, 43, 81);
}


.compose-btn{
  background-color: rgb(179, 81, 154);
  margin: 0px 7px 10px;
  border-color: rgb(179, 81, 154);
}

.compose-btn:hover{
  background-color: rgb(196, 97, 209);
    border-color: rgb(196, 97, 209);
}

.compose-btn:focus{
  background-color: rgb(196, 97, 209);
  border-color: rgb(196, 97, 209);
}


.nav-bn{
  padding: 5px;
  cursor: pointer;
}

.nav-bn:hover{
  background-color: rgb(94, 43, 81);
}

a.navbar-brand, #logout{
  color:white;
  text-decoration: none;
  padding: 15px;

}

#compose{
  color:white;
  font-size: 12pt;
  margin-bottom: 20px;
  font-weight: 600;
}
#logout:hover{
  background-color: rgb(94, 43, 81);
}

.email-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: #e7e9ec;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  max-height: 500px;
}

.email-container.hide{
  max-height: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none;
  margin: 0px;
}

.email-container:hover {
  background-color: rgb(217, 219, 223);
}


.email-clickable-container {
  cursor: pointer;
  flex:1;

}

.email-flex-clickable-container {

  display: flex;
  align-items: baseline;
  justify-content:space-between;
  gap: 30px;
  padding: 10px;
  flex: 1;
  min-width: 100%;  
}

.email-container.no-read{
  font-weight: 500;
}
.email-container.read {
  background-color:  rgb(236, 238, 243);
}
.email-container.read:hover {
  background-color: rgb(217, 219, 223);
}
.email-from {
  flex:1;
}

.email-subject {
  padding-left: 10px;
  font-size: 11pt;
}

.email-time {
  font-size: 10pt;
}

#open-email-body{
  white-space: pre-line;
}

#empty-email{
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap:20px;
}

#compose-view{
  flex: 1;
  padding: 30px;
}

#open-email-view{

  padding: 10px;
  min-width: 350px;
  flex:1;
  overflow-y:auto;
}

#emails-view{
  width: 520px;
  flex-shrink: 0;
  border-right: solid;
  border-width: thin;
  border-color: #e7e9ec;
  padding: 10px;
  overflow-y:scroll;
}

#no-emails {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap:20px;
}

#login{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;



}