textarea {
  min-height: 400px;
}

.email {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 30px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
}

.email-from {
}

.email-subject {
  flex: 1;
}

.email-time {
}

.email-archive {
}
